# Ignore artifacts:
build
coverage

*/.gitignore
*/.gitattributes

*/.idea
*/.vscode
*/.vagrant
*/.DS_Store

*/.env
*/.env.*

**/.yarn
**/.next
**/.out
**/dist
**/build
**/.tmp
**/.cache
**/.turbo
*/.html

**/node_modules

**/src/pages/api/auth/[...auth0].tsx
**/src/pages/api/question/complexity[complexity].tsx
**/src/pages/api/users/[user_id].tsx
